[Unit]
Description=restart systemd after sleep
After=suspend.target

[Service]
Type=simple
ExecStart=/usr/bin/systemctl restart wpa_supplicant.service

[Install]
WantedBy=suspend.target
